* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: sans-serif;
}

.books {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  width: 100%;
  position: relative;
}

table {
  border: 1px solid #000;
  width: 40%;
}

tr {
  display: flex;
  justify-content: space-between;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  align-items: center;
  position: absolute;
  top: 400px;
}

input {
  margin: 10px 0;
  width: 10%;
  padding: 2px;
}

ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
  color: black;
}

ul li h2 {
  font-size: 20px;
  font-weight: 100;
  margin-bottom: 10px;
}

hr {
  margin-top: 10px;
  width: 100%;
}
